body {
    background-color: lightgray;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.header img {
    vertical-align: middle;
}

h1 {
    margin-top: 0;
}

h1,
h2 {
    text-align: center;
}

.buttons {
    display: inline-block;
}

/* Test this once more ship icons are added
#shipIcons {
    display: flex;
    justify-content: center;
}*/

#shipFilter {
    display: block;
    margin: 0 auto;
    /*margin-left: 5px;
    margin-bottom: 5px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

#close {
    color: lightgray;
    font-weight: bold;
    font-size: 30px;
    float: right;
}

#close:hover {
    color: #444444;
    cursor: pointer;
}

div.secretaries {
    display: flex;
    justify-content: center;
}

div.options{
    text-align: center;
}

#dock {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

label {
    margin-right: 10px;
}

div.secretaries figure {
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: #444444;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    /*width: 192px;*/
    width: 172.8px;
    height: 252px;
    animation: fadeIn;
    animation-duration: 3s;
}

div.secretaries figure img {
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

div.secretaries figcaption {
    color: white;
    background-color: #444444;
    text-align: center;
    white-space: nowrap;
}

#rotationShips,
#nonrotationShips {
    margin: auto;
    justify-content: center;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

figure.ultra {
    background: linear-gradient(120deg,#8ef 10%,#cfc,#fcf 90%);
}

figure.super {
    background: #eeee99;
}

figure.elite {
    background: #c4adff;
}

figure.rare {
    background: #9fe8ff;
}

footer {
    text-align: center;
}

img.dock:hover {
    filter: brightness(0.5);
}

img[data-rarity="ultra"],
img[data-rarity="super"],
img[data-rarity="elite"],
img[data-rarity="rare"] {
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    margin: 5px;
}

img[data-rarity="ultra"] {
    border-image: linear-gradient(120deg,#8ef 10%,#cfc,#fcf 90%) 1;  
    background-image: url("https://jmonje321.github.io/AzurLaneSecretaries/Images/bg-ultra.png");
}

img[data-rarity="super"] {
    border-color: #eeee99;
    background-image: url("https://jmonje321.github.io/AzurLaneSecretaries/Images/bg-super.png");
}

img[data-rarity="elite"] {
    border-color: #c4adff;
    background-image: url("https://jmonje321.github.io/AzurLaneSecretaries/Images/bg-elite.png");
}

img[data-rarity="rare"] {
    border-color: #9fe8ff;
    background-image: url("https://jmonje321.github.io/AzurLaneSecretaries/Images/bg-rare.png");
}

#instruction-label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

ul {
    display: table;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 30px;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal:after {
    content: "";
    height: 60px;
    display: block;
}

.modal-content {
    background: whitesmoke;
    margin: auto;
    padding: 20px;
    width: 70vw;
}

.shipIcons {
    text-align: center;
}

div.test {
    text-align: left;
}

#content {
    display: none;
    animation: fadeIn;
    animation-duration: 1s;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}